
.icon-gauge:before { content: '\e800'; } /* '' */
.icon-layers-alt:before { content: '\e801'; } /* '' */
.icon-grid:before { content: '\e802'; } /* '' */
.icon-article-alt:before { content: '\e803'; } /* '' */
.icon-doc-text:before { content: '\e804'; } /* '' */
.icon-calendar-outlilne:before { content: '\e805'; } /* '' */
.icon-th-large-outline:before { content: '\e806'; } /* '' */
.icon-lock:before { content: '\e807'; } /* '' */
.icon-vcard:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */